@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
header{
    text-align: center;
}
main{
    width:600px;
    margin-left: auto;
    margin-right: auto;
}
footer{
    text-align: center;
}
figcaption{
    text-align: center;
    color: dimgrey;
}
#intestazione{
    padding: 10px;
    background-color: rgb(226, 226, 189);
    width: 100%;
}
span{
    font-weight:bold;
    text-align: left;
}
h1{
    text-align: center;
}

h3{
    color:brown;
}
#feat{
    text-align: left;
    padding-left: 5%;
    border-left: solid;
    
}
main{
    padding: 2%;
}
br{
    color: #433434;
}
#cibo{
    display: block;
    border-radius: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
body{
    font-family: 'Roboto', sans-serif;
}
#logopage{
    width: 10%;
}